/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* General styles */
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Navigation */
nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
}

nav div {
  flex: 1 50%;
  padding: .3rem 0;
}

nav div.right-nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: block;
  font-size: .9rem;
}

nav ul li {
  display: inline-block;
  padding-right: 12px;
}

nav .left-nav ul li:last-child, 
nav .right-nav ul li:last-child {
  padding-right: 0;
}

nav i.material-icons {
  opacity: .6;
  vertical-align: middle;
}

nav i.material-icons:hover {
  opacity: 1;
}

nav .login-btn {
  background-color: #4484f2;
  border: 1px solid transparent;
  color: #fff;
  font-weight: bold;
  padding: .3rem .8rem;
}

/* Main section */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

form {
  margin-top: 25px;
}

form div {
  position: relative; 
}

form label {
  color: #9AA0A6;
  left: 15px;
  position: absolute;
  top: 13px;
  z-index: 2;
}

form input {
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  display: block;
  outline: none;
  padding: .7rem 1rem .7rem 3rem;
  width: 500px;
}

form input:hover, 
form input:focus {
  box-shadow: 0 0 8px #d9d9d9;
  transform: scaleY(1.1);
}

form .form-btns { 
  padding-top: 2rem;
  text-align: center;
}

form .form-btns button {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  font-size: .9rem;
  padding: .5rem 1rem;
}

form .form-btns button:hover {
  border: 1px solid #c1c1c1;
}

form .form-btns button:first-child {
  margin-right: .5rem;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  color: #6f7277;
  font-size: .9rem;
}

.country, .footer-nav {
  align-items: center;
  display: flex;
  height: 50px;
}

.country {
  border-bottom: 1px solid #dadce0;
}

.left-footer, .right-footer {
  display: flex;
  flex: 50%;
}

footer div p {
  padding-right: 20px;
}

footer div p:last-child {
  padding-right: 0;
}
